@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

body{
    font-family: 'Rajdhani';
    text-align: justify;
    margin: 100px;
    margin-top: 30px;
}

#dhnews{
    font-family: 'Rajdhani', sans-serif;
    color: rgb(236, 5, 5);
    line-height: 10px;
}

#postado{
    font-family: 'Rajdhani', sans-serif;
    line-height: 0px;
}

#visual{
    display: flex;
    justify-content: center;    
}

.sociais{
    list-style-type: none;
    display: flex;
    justify-content: center;
}


